@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --primaryColor: rgba(3, 130, 191, 1);
  --secondaryColor: rgba(0, 158, 124, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(142, 208, 210);
  background: linear-gradient(
    90deg,
    rgba(142, 208, 210, 0.8828781512605042) 0%,
    rgba(0, 255, 231, 1) 100%
  );
  font-size: 16px;
  line-height: 24px;
  font-family: "Fredoka", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.todoContainer {
  background-color: white;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  & .heading {
    & h1 {
      padding-bottom: 15px;
      font-size: 72px;
      background: linear-gradient(
        90deg,
        rgba(142, 208, 210, 0.8828781512605042) 0%,
        rgba(0, 255, 231, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .input {
    padding: 15px 0px;

    & .form {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      & input {
        padding: 10px 15px;
        width: 100%;
        border-radius: 6px;
        border: 2px solid var(--secondaryColor);
        outline: none;

        &:focus {
          border-color: var(--primaryColor);
        }
      }

      & button {
        background-color: var(--primaryColor);
        padding: 10px 15px;
        border: none;
        color: white;
        font-size: 30px;
        border-radius: 6px;
      }
    }
  }

  & .list {
    padding-left: 30px;

    & ul {
      list-style: none;

      & li {
        position: relative;
        font-size: 20px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: rgba(101, 232, 101, 0.479);
        }

        & button {
          background-color: transparent;
          border: none;
          font-size: 25px;
          color: white;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: var(--secondaryColor);
        }

        &::before {
          content: "\f249";
          position: absolute;
          top: 50%;
          left: -30px;
          transform: translateY(-50%);
          font-family: "Line Awesome Free";
          font-weight: 900;
        }
      }
    }
  }
}
